/*add general page setup styles */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #1a73e8, #0f2027 );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* style main container */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}