/*add general page setup styles */
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #1a73e8, #0f2027 );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* style main container */
.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

/* style the heading */
h1{
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* style number display */
#number-element {
    font-size: 3rem;
    margin: 10px 0;
    font-size: bold;
} 

/* style interpretation text */
#interpretation {
  font-size: 1.2rem;
  margin-bottom: 30px;
  opacity: 0.9;
}



/* style the minus and plus buttons */
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background: #2196f3;
  transition: 0.3s ease;
}

button:hover {
  background: #42a5f5;
  transform: scale(1.05);
}